absl-py==2.1.0
allennlp==1.0.0
asttokens==2.4.1
backcall==0.2.0
blis==0.7.11
boto3==1.26.141
botocore==1.29.141
cachetools==5.4.0
catalogue==2.0.10
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
confection==0.1.5
contourpy==1.1.1
cycler==0.12.1
cymem==2.0.8
dataclasses==0.6
debugpy==1.8.3
decorator==5.1.1
executing==2.0.1
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
future==1.0.0
google-auth==2.32.0
google-auth-oauthlib==1.0.0
graphviz==0.20.3
grpcio==1.65.4
idna==3.7
importlib_metadata==8.2.0
importlib_resources==6.4.0
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
marisa-trie==1.2.0
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mpmath==1.3.0
murmurhash==1.0.10
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-contrib-python-headless==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
overrides==4.1.2
packaging==24.1
pandas==2.0.1
parso==0.8.4
pathlib_abc==0.1.1
pathy==0.11.0
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pip==24.0
platformdirs==4.2.2
preshed==3.0.9
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==1.10.17
Pygments==2.18.0
pyparsing==3.1.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.9.0.post0
pytz==2023.3
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
regex==2023.5.5
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sacremoses==0.0.53
sentencepiece==0.1.99
setuptools==69.5.1
six==1.16.0
smart-open==6.4.0
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
thinc==8.1.12
tokenizers==0.8.1rc2
torch==1.6.0
torchtext==0.6.0
torchvision==0.7.0
torchviz==0.0.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==3.3.0
triton==3.0.0
typer==0.7.0
typing_extensions==4.12.2
typing-utils==0.1.0
urllib3==2.2.2
wasabi==1.1.3
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.43.0
xlrd==2.0.1
zipp==3.19.2
